* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #B1D0E0;
}

.container {
    padding: 0 50px;
}

.header-bar {
    background-color: #1A374D;
    height: 120px;
    position: relative;
}
.header-bar .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-btn-data {
    border: none;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    font-size: 22px;
    background-color: #406882;
    cursor: pointer;
    color: #fff;
    position: absolute;
    bottom: 28px;
    left: 30px;
}
.header-btn-add {
    border: none;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    font-size: 22px;
    background-color: #406882;
    cursor: pointer;
    color: #fff;
    position: absolute;
    bottom: 28px;
    left: 180px;
}
.header-btn-data:hover, .header-btn-add:hover {
    transform: scale(1.1);
}




/* tabela */
.table-data-view {
    padding: 10px 0;
    color: #fff;
}
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border: 2px solid #1A374D;
}
.content-table thead tr {
    background-color: #1A374D;
    color: #fff;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}
.content-table thead tr th {
    width: fit-content;
}
.content-table th, .content-table td {
    padding: 10px;
    border-right: 1px solid #fff;
}
.content-table td {
    color: #1A374D;
}
.content-table th:last-child {
    border: none;
}
.content-table td:last-child {
    border: none;
}

.content-table tbody tr {
    border-bottom: 1px solid #fff;
    font-size: 14px;
}
.content-table tbody tr:nth-of-type(even) {
    background-color: #ddd;
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #1A374D;
}
/* end tabela */




/* Input VIEW */
.input-add-database-view, .edit-add-database-view {
    display: none;
    padding: 10px 0;
    color: #fff;
}
.input-add-database-view input, .edit-add-database-view input {
    margin: 4px 0;
}
.all-inputs {
    margin: 25px 0;
    
}

.all-inputs input {
    width: 300px;
    padding: 5px;
    border: 1px solid #1A374D;
    outline: none;
}
.all-inputs input:focus {
    outline: 3px solid yellow;
}

.send-btn, .edit-btn-form {
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    background-color: #1A374D;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    outline: none;
}
.send-btn:hover {
    background-color: #406882;
}

.edit-btn {
    padding: 5px 30px;
    background-color: #fcd12a;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s ease;
    text-transform: uppercase;
    font-weight: bold;
}
.edit-btn:hover {
    transform: scale(0.9);
}
.edit-btn-body {
    text-align: center;   
}


/* edit view */
.edit-add-database-view {
    display: none
}